[Unit]
Description=Timer Canny notification + newest-post wake poll
Requires=feedback-canny-wake.service

[Timer]
Unit=feedback-canny-wake.service
OnBootSec=2min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
